
RewriteEngine on
RewriteCond %{HTTPS} off
RewriteCond %{HTTP:X-Forwarded-SSL} !on
RewriteCond %{HTTP_HOST} ^bumaga\-ox\.by$ [OR]
RewriteCond %{HTTP_HOST} ^www\.bumaga\-ox\.by$
RewriteRule ^/?$ "https\:\/\/bumaga\-ox\.by\/" [R=301,L]

