
@font-face {
    font-family: Roboto-Regular;
    src: url('./assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: Roboto-Bold;
    src: url('./assets/fonts/Roboto-Bold.ttf');
}
@font-face {
    font-family: Roboto-Light;
    src: url('./assets/fonts/Roboto-Light.ttf');
}
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    margin: 0;
    font-family: Roboto-Regular;
}

hr {
    margin: 0;
}

p,h1,h2,h3,h4 {
    margin: 0;
}

ul {
    padding: 0 0 0 0;
    margin: 0;
}

.container {
    max-width: 1024px;
    margin: 0 auto;
}

.popup_tel {
    color: #000000;
    font-size: 30px;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}

.popup_text {
    margin: 10px 0 10px 0;
    padding: 0 15px 0 15px;
    text-align: center;
    font-size: 21px;
    color: #c75939;
    font-family: 'Roboto-Light';
}
.loadind {
    display: flex;
    justify-content: center;
    align-items: center;
}
.loadind img{
    width: 100px;
    height: 100px;
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    row-gap: 20px;
    padding: 30px;
    margin-bottom: 20px;
    background-color: #f0f0f0;
}
.form input {
    width: 100%;
    height: 40px;
    padding-left: 5px;
    border-radius: 3px;
    border: 1px solid #adadad;
    font-size: 20px;
}

.form input[type='submit'] {
    background-color: #76d11c;
    border: none;
    color: #ffffff;
    cursor: pointer;
}

.form-text {
    margin: 0;
}


header {
    position: relative;
    background-color: #000000;
    color: #ffffff;
}

header::after {
    position: absolute;
    bottom: -30px;
    width: 100%;
    content: '';
    display: block;
    height: 35px;
    background: linear-gradient(0deg, rgb(0 0 0 / 0%) 0%, rgb(0 0 0 / 78%) 38%, rgb(0 0 0) 100%);
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 30px 10px 0 10px;
}

.header a {
    display: block;
    color: #ffffff;
}

.header_logo p {
    font-family: 'Roboto-Bold';
    font-size: 21px;
}

.nav {
    display: flex;
    column-gap: 25px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: #000000;
}

.contacts {
    display: flex;
    justify-content: space-around;
    column-gap: 10px;
}
.contact-link {
    display: flex;
    align-items: center;
    color: #000000;
    text-decoration: none;
}

.contacts .icon {
    width: 30px;
}

.phone-number {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero {
    margin-bottom: 100px;
    background: linear-gradient(to right, #000000ad, #0000009c), url(./assets/img/bg.webp) center no-repeat;
    background-size: cover;
}

.hero_bg {
    height: 450px;
    padding: 0 10px;
}
.hero_bg-dark {
    width: 100%;
    height: 100%;
    padding: 80px 0 0 0px;
}
.heading {
    width: 65%;
}
.heading h1{
    font-size: 49px;
}

h1 {
    color: #ffffff;
}

.hero_footer {
    display: flex;

}

.brands {
    display: flex;
    flex-direction: column;
    width: 200px;
    margin-top: 50px;
    font-family: 'Roboto-Light';
    font-size: 21px;
    color: #ffffff;
}

.description {
    margin: 20px auto 0;
    font-size: 22px;
    color: #ffffff;
}

.goods {
    margin-bottom: 100px;
}

.goods-body {
    width: 100%;
    margin: 0 auto;
}

.card-items {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 20px;
}

.item {
    position: relative;
    display: flex;
    flex: 0 1 300px;
    height: 100%;
    flex-direction: column;
    padding: 15px 10px 10px 10px;
    border: #000000 solid 1px;
    border-radius: 5px;
    background-color: #ffffff;
}

.status {
    position: absolute;
    top: -10px;
    width: 150px;
    height: 20px;
    border-radius: 10px;
    font-size: 15px;
    text-align: center;
    color: #ffffff;
    background-color: darkcyan;
}

.status.in-stock {
    background-color: #76d11c;
}

.item_title {
    font-family: 'Roboto-Bold';
}

.item_photo img{
    width: 100%;
    height: 250px;
    object-fit: contain;
}

.item_description {
    display: flex;
    align-items: center;
    height: 0;
    overflow: hidden;
    text-align: center;
    transition: .2s;
}

.item:hover .item_description {
    height: 130px;
}

.item_text {
    margin-bottom: 10px;
}

.characteristics {
    padding-left: 30px;
}

.characteristic {
    list-style: disc;
    font-family: 'Roboto-Light';
}

.item_footer {
    display: flex;
    column-gap: 10px;
}

.item_price {
    margin-left: auto;
    font-size: 25px;
    font-family: 'Roboto-Bold';
}

.buy {
    border-radius: 5px;
    padding: 5px;
    border: none;
    outline: none;
    color: #ffffff;
    font-size: 20px;
    background-color: #76d11c;
    cursor: pointer;
}

.delivery {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 300px;
    margin-bottom: 30px;
    align-content: space-between;
}

.delivery h2{
    font-size: 50px;
    letter-spacing: 2px;
    margin-bottom: 35px;
    text-align: center;
    font-family: 'Roboto-Light';
}

.delivery h3 {
    font-size: 18px;
    text-align: center;
    font-family: 'Roboto-Light';
}

.map {
    margin-bottom: 100px;
    padding: 0 10px 0 10px;
}

.map-body {
    display: flex;
    column-gap: 30px;
}

.map-image {
    display: block;
    max-width: 500px;
    object-fit: contain;
}

.shop-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin: 50px 0 0 50px;
}

.shop-link {
    font-size: 22px;
    color: #000000;
}

.order  {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    bottom: 100px;
    right: 30px;
}

.order p {
    margin-bottom: 15px;
}

.order-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: #76d11c;
    animation: call 2s;
    animation-iteration-count: infinite;
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 50px;
    height: 50px;
    fill: #ffffff;
}

.footer_body {
    display: flex;
    justify-content: space-between;
    padding: 100px 10px 0;
}

.hero.footer {
    height: 500px;
    margin-bottom: 0;
    color: #ffffff;
}

.footer_contact-title {
    margin-bottom: 20px;
    font-size: 30px;
    font-family: 'Roboto-Light';
}

.footer .shop-link {
    color: #ffffff;
    font-family: 'Roboto-Light';
    font-size: 18px;
}

.footer_adress .shop-list {
    margin: 0 0 0 20px;
}

.footer li {
    list-style: none;
}

.footer .phone-numbers {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
 
.footer_contacts .contact-link {
    color: #ffffff;
    font-family: 'Roboto-Bold';
}

.footer_contacts p {
    font-family: 'Roboto-Light';
}

.copy {
    padding-left: 10px;
    margin-top: 70px;
    text-align: center;
}

@media (max-width: 790px) {
    .map-body {
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 685px) {
    .tingle-modal-box__content .shop-link {
        font-size: 18px;
    }

    .tingle-modal-box__content {
        padding: 20px;
    }

    .form input[name='tel'] {
        font-size: 14px;
    }
    .hero_bg {
        min-height: 480px;
    }
    .heading {
        width: 100%;
    }
    .header {
        height: 100%;
    }

    .card-items {
        justify-content: center;
        padding: 0 10px;
    }
    .item {
        flex-grow: 1;
        max-width: 400px;
    }
}
@media (max-width: 600px) {
    .nav {
        flex-direction: column;
    }

    .nav-link {
        font-size: 20px;
    }

    .map-image {
        width: 100%;
    }
}

@media (max-width: 470px) {
    .phone-number {
        display: none;
    }

    .phone-number.active {
        position: relative;
        display: flex;
        position: absolute;
        row-gap: 30px;
        top: 100px;
        left: 0;
        background-color: black;
        width: 100%;
        height: 300px;
    }

    .phone-number.active::after {
        position: absolute;
        bottom: -30px;
        content: '';
        display: block;
        height: 50px;
        width: 100%;
        background: linear-gradient(180deg, rgba(0,0,0,1) 51%, rgba(0,0,0,0.44723827030812324) 100%);
    }

    .contact-link {
        font-size: 33px;
        font-family: 'Roboto-Bold';
        text-align: center;
    }

    .contacts .icon {
        width: 55px;
    }

    .hero_footer {
        flex-direction: column-reverse;
    }

    .brands {
        margin-top: 21px;
        margin-left: auto;
    }
}

.tingle-modal-box__content .shop-list {
    margin: 0 0 30px 20px;
}

@media (max-width: 450px) {
    .heading h1 {
        font-size: calc(24px + 32 * (100vw / 1024));
    }

    .description p {
        font-family: 'Roboto-Light';
    }
    .brands {
        font-size: 30px;
        margin-left: 0;
    }

    .delivery {
        padding: 10px;
    }

    .delivery h2 {
        font-size: calc(24px + 55 * (100vw / 1024));
    }

    .shop-list {
        margin-left: 0;
    }

    .hero.footer {
        height: auto;
        background: linear-gradient(180deg, rgba(0,0,0,0.4962359943977591) 0%, rgba(0,0,0,1) 62%), url(./assets/img/bg.webp);
        background-size: contain;
    }

    .footer_body {
        flex-wrap: wrap;
        padding: 50px 20px 10px;
        row-gap: 50px;
    }
    .copy {
        width: 100%;
        margin-top: auto;
        text-align: right;
        padding: 0 10px 10px 0;
        order: 3;
    }
    
    .footer_contacts .icon {
        display: none;
    }

    .footer_contacts .contact-link {
        font-size: 28px;
    }
}

@media (max-width: 400px) {
    .order .icon {
        width: 35px;
        height: 35px;
    }
    .order-btn {
        width: 75px;
        height: 75px;
    }

}

@media (max-width: 324px) {
    .tingle-modal-box__content .shop-link {
        font-size: 20px;
    }
}

@keyframes call {
    0% {
        transform: rotateZ(0deg);
            -ms-transform: rotateZ(0deg);
            -webkit-transform: rotateZ(0deg);
    }
    10% {
        transform: rotateZ(-30deg);
            -ms-transform: rotateZ(-30deg);
            -webkit-transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
            -ms-transform: rotateZ(15deg);
            -webkit-transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
            -ms-transform: rotateZ(-10deg);
            -webkit-transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
            -ms-transform: rotateZ(7.5deg);
            -webkit-transform: rotateZ(7.5deg);
    }
    50% {
        transform: rotateZ(-6deg);
            -ms-transform: rotateZ(-6deg);
            -webkit-transform: rotateZ(-6deg);
    }
    60% {
        transform: rotateZ(5deg);
            -ms-transform: rotateZ(5deg);
            -webkit-transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4.28571deg);
            -ms-transform: rotateZ(-4.28571deg);
            -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
        transform: rotateZ(3.75deg);
            -ms-transform: rotateZ(3.75deg);
            -webkit-transform: rotateZ(3.75deg);
    }
    90% {
        transform: rotateZ(-3.33333deg);
            -ms-transform: rotateZ(-3.33333deg);
            -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
        transform: rotateZ(0deg);
            -ms-transform: rotateZ(0deg);
            -webkit-transform: rotateZ(0deg);
    }
}
